/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

/* General */
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  scroll-behavior: smooth;

  letter-spacing: .1rem;
  animation-timing-function: ease-in-out;
}

::selection {
  background-color: var(--mainColor);
  color: #fefefe;
}

::placeholder {
  color: var(--mainWhite);
  opacity: .9;
}

:root {
  --mainColor: hsl(200, 75%, 40%) !important;
  --mainBackground: #000 !important;
  --mainWhite: #FFF !important;
  --mainTransition: .2s ease-in-out;
  --mainBorderRadius: 20px;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--mainWhite);
  background-color: var(--mainBackground);
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;

  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;

  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 3em .75em;
}

/* Navbar */

.nav-links {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 1.25rem 2rem;

  position: fixed;
  top: 1.5em;
  left: 0;
  right: 0;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  text-align: center;

  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  background-color: var(--mainColor);
  border-radius: 20px;

  animation: slide-up 1s forwards;
}

.nav-links li {
  font-size: 1rem;
  font-weight: 500;
}

.nav-link {
  position: relative;
  padding-bottom: 2px;

  color: var(--mainWhite);
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link::after {
  content: "";
  transform: scaleX(0);
  height: 2px;
  background-color: var(--mainWhite);

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--mainBorderRadius);

  transition: .4s;
}

.nav-link:hover::after {
  transform: scaleX(1);
}

.bars {
  display: none;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 30;

  background: var(--mainColor);
  padding: .5rem .5rem .35rem .5rem;
  border-radius: var(--mainBorderRadius);

  transition: all var(--mainTransition);
  cursor: pointer;
}

/* Info */
section {
  padding: 5.25em 0;
  margin: 0 1rem;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-me-photo {
  animation: slide-up 1.1s forwards;
  visibility: hidden;

  height: 280px;
}

.info-name-job {
  display: flex;
  flex-direction: column;
  justify-content: center;

  line-height: 2;
}

.info-name {
  opacity: 0;
  animation: slide-up 1.1s forwards;
  animation-delay: .4s;
  visibility: hidden;

  text-transform: uppercase;
  font-size: 2.2rem;
  font-weight: 400;
}

.info-job {
  color: var(--mainColor);
  font-size: 1.05rem;
  font-weight: 400;

  visibility: hidden;
  opacity: 0;
  animation: slide-up 1.1s forwards;
  animation-delay: .7s;
}

.media-links {
  display: flex;
  flex-direction: column;
}

.media-links li {
  position: sticky;
  margin: 1.2rem;
}

.media-links li:nth-child(1) {
  opacity: 0;
  visibility: hidden;

  animation: slide-up 1.1s forwards;
  animation-delay: 1.1s;
}

.media-links li:nth-child(2) {
  opacity: 0;
  visibility: hidden;

  animation: slide-up 1.1s forwards;
  animation-delay: 1.3s;
}

.media-links li:nth-child(3) {
  opacity: 0;
  visibility: hidden;

  animation: slide-up 1.5s forwards;
  animation-delay: 1.3s;
}

.media-links li:hover .media-icon {
  color: var(--mainBackground);
<<<<<<< HEAD
  box-shadow: 0 0 5px #fff, -1px 2px 17px var(--mainColor);
  border: 1px solid hsla(0,0%,100%,.9);
=======
  box-shadow: 0 0 5px #fff, -1px 2px 17px #f36c31;
  border: 1px solid hsla(0, 0%, 100%, .9);
>>>>>>> 3b549885ec65aab582905259bf7dc2ac49d41d81
}

.media-icon {
  padding: .4rem;

  font-size: 2.5rem;
  border-radius: 15px;

  color: var(--mainWhite);
  background: var(--mainColor);

  transition: border .4s ease, color .3s ease, box-shadow .1s ease;
}


/* Skills */
.section-title {
  font-weight: 500;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 1.5em;
}

.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.3em;
}

.skill {
  position: relative;
  font-size: 1.3rem;
  flex-direction: column;
  padding-bottom: 1rem;
}

.skill::after {
  content: "";
  height: 10px;
  max-width: 400px;
  background: linear-gradient(to right, var(--mainColor) 100%, var(--mainWhite) 0%);

  border-radius: var(--mainBorderRadius);
  border: 2px solid var(--mainBackground);
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 100%;
  opacity: 0;
}

.skills-container.animate .skill::after {
  animation: skill 2.5s forwards ease;
}

/* Projects */
.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19em, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
  place-content: center;
}

.card {
  position: relative;

  width: 100%;
  opacity: 0;
  height: 100%;

  background: var(--mainBackground);
  border-radius: var(--mainBorderRadius);
  color: var(--mainWhite);
  overflow: hidden;

  transition: transform var(--mainTransition);
  border: 3px solid var(--mainColor);
}

.card.animate:nth-child(odd) {
  animation: card-odd 1.1s forwards ease;
  animation-delay: .4s;
}

.card.animate:nth-child(even) {
  animation: card-even 1.1s forwards ease;
  animation-delay: .3s;
}

.card-content {
  --padding: 2rem;
  padding: var(--padding);

  transform: translateY(65%);
  transition: transform .5s ease;
}

.card-content>*:not(.card-title) {
  opacity: 0;
  transition: opacity .5s ease;
}

.card:hover .card-content>*:not(.card-title) {
  opacity: 1;
}

.card:hover .card-content {
  transform: translateY(0);
}

.project-img {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  transform: translateX(-20%);
  background-color: var(--mainBackground);
  object-fit: contain;
  opacity: .5;

  transition: .4s;
}

.card:hover .project-img {
  opacity: .2;
}

.card-title {
  position: relative;

  font-size: 1.75rem;
  font-weight: 500;
  margin-bottom: 1em;

  width: fit-content;
  max-width: 100%;
}

.card-title::after {
  content: "";
  width: 100%;
  height: 4px;

  position: absolute;
  bottom: -7px;
  left: calc(var(--padding) * -1 + .5rem);

  background-color: var(--mainColor);
  border-radius: var(--mainBorderRadius);

  transform: scaleX(0);
  transition: transform .25s linear;
  transition-delay: .6s;
  transform-origin: left;
}

.card:hover .card-title::after {
  transform: scaleX(1);
}

.card-description {
  max-width: 450px;
  min-height: 130px;
  margin-bottom: .75em;
  line-height: 1.5;
}

.card-button {
  padding: .75rem;
  border: none;
  background-color: var(--mainColor);
  color: var(--mainWhite);
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  font-size: .75rem;

  border-radius: 10px;
  cursor: pointer;

  transition: all .2s ease-in;
  border: 1px solid rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 5px #FFFFFF, -1px 2px 17px var(--mainColor);
}

.card-button:hover {
  color: var(--mainBackground);
}


/* Error 404 */
.error-container {
  padding: 0;
  margin: 0;
}

.error-content {
  height: 100vh;
  line-height: 1.25;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.error-title {
  font-size: 6rem;
  font-weight: 500;
}

.error-not-found {
  margin: .5em 0 .4em 0;

  font-size: 1.25rem;
  font-weight: 500;
}

.error-decription {
  font-size: 1.1rem;
  font-weight: 300;
}

.error-button {
  margin-top: 2.5em;
  padding: .35em 5rem;

  border: 0;
  border-radius: var(--mainBorderRadius);

  font-size: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;

  background: var(--mainColor);
  color: var(--mainWhite);
  transition: color var(--mainTransition);

  cursor: pointer;
}

.error-button:hover {
  color: var(--mainBackground);
}

/* Loader */
.loader {
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  background: var(--mainBackground);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* About */
.about-title {
  opacity: 1;
}

.about-me {
  opacity: 0;
  font-weight: 300;
  font-size: 1.15rem;
}

.about-me.animate {
  animation: about 1.5s forwards ease;
  animation-delay: .3s;
}

/* Contact */
#contact {
  margin-bottom: 10rem;
}

.contact-form div {
  margin: 1.25rem 0;
}

.contact-item {
  opacity: 0;
}

.contact-item.animate:nth-child(1) {
  animation: contact 1.25s ease forwards;
  animation-delay: .5s;
}

.contact-item.animate:nth-child(2) {
  animation: contact 1.25s ease forwards;
  animation-delay: .65s;
}

.contact-item.animate:nth-child(3) {
  animation: contact 1.25s ease forwards;
  animation-delay: .8s;
}

.contact-item.animate:nth-child(4) {
  animation: contact 1.25s ease forwards;
  animation-delay: .95s;
}

.contact-item.animate:nth-child(5) {
  animation: contact 1.25s ease forwards;
  animation-delay: 1.05s;
}

input {
  background-color: var(--mainBackground);
  color: var(--mainWhite);
  outline: none;
  padding: .8rem 1rem;
  width: 100%;
  max-width: 300px;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;

  border-radius: var(--mainBorderRadius);

  border: 3px solid var(--mainColor);

}

input:focus {
  transition: all .4s ease;
  background-color: var(--mainBackground);
  color: var(--mainWhite);
  border: 3px solid rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 5px #FFFFFF, -1px 2px 10px var(--mainColor);
}

#message {
  background-color: var(--mainBackground);
  color: var(--mainWhite);
  border-radius: var(--mainBorderRadius);
  border: 3px solid var(--mainColor);

  padding: .75rem 1rem;
  width: 100%;
  max-width: 400px;

  font-family: 'Montserrat', sans-serif;
  font-size: 1.05rem;

  outline: none;
  resize: none;

}

#message:focus {
  transition: all .4s ease;
  border: 3px solid rgb(255, 255, 255);
  box-shadow: 0px 0px 5px #ffffff, -1px 2px 5px var(--mainColor);
}

.submit-btn {
  padding: 1rem 4rem;

  border: none;
  background-color: var(--mainColor);
  color: var(--mainWhite);
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.05rem;

  border-radius: 10px;
  cursor: pointer;

  transition: box-shadow .3s ease, color .3s ease, outline .1s ease;


}

.submit-btn:hover {
  color: var(--mainBackground);
  box-shadow: 0px 0px 5px 1.5px #FFFFFF, -1px 2px 17px var(--mainColor);
}

/* Footer */
footer {
  position: absolute;
  bottom: 0;
  z-index: 3;
  left: 0;
  right: 0;

  background: var(--mainColor);
  padding: 2.5rem 0;

  border-radius: 4rem 4rem 0px 0px;
}

.footer-container {

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  row-gap: 1.25rem;
  margin: 0 auto;
}

.footer-links {
  display: flex;
}

.footer-links li {
  margin: 1.2rem;
}

.footer-links li:hover .footer-icon {
  color: var(--mainBackground);
}

.footer-icon {
  padding: .4rem;

  font-size: 2.75rem;
  border-radius: 15px;

  color: var(--mainColor);
  background: var(--mainWhite);

  transition: var(--mainTransition);
}

.mail-num {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mail-num a {
  margin: 0 5rem;
  text-decoration: none;
  color: var(--mainWhite);

  font-size: 1.25rem;
}

.mail-num-link {
  transition: color .3s ease;
}

.mail-num-link:hover {
  color: #000;
}

.mail-num {
  position: relative;
  margin-left: -3rem;
}

.mail-icon {
  position: absolute;
  left: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 0;

  font-size: 1.5rem;
}

.number {
  position: relative;
}

.num-icon {
  position: absolute;
  left: -1.75rem;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 0;

  font-size: 1.3rem;
}


/* Media */
@media (max-width: 1100px) {

  /* Info */
  .info {
    flex-direction: column;
  }

  .info-name-job {
    text-align: center;
  }

  .media-links {
    flex-direction: row;
  }

}

@media (max-width: 740px) {

  /* Footer */
  .mail-num {
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-items: center;
    margin-left: 1rem;
    row-gap: 1rem;
  }
}

@media (max-width: 680px) {

  /* Project Card */
  .project-img {
    transform: translateX(0%);
  }
}

@media (max-width: 540px) {

  /* Navbar */
  .nav-links {
    width: 50%;
    margin: 0 0 0 auto;
    top: 0;

    text-align: left;
    justify-content: flex-end;
    flex-direction: column;

    transform: translateX(105%);
    transition: transform var(--mainTransition);

    border-radius: 0px 0px 0px 20px;
    animation: none;

    border-bottom: 2px solid rgba(255, 255, 255, 0.9);
    border-left: 2px solid rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 5px #FFFFFF, -1px 2px 17px #F36C31;
  }

  .nav-links.active {
    transform: translateX(0);
  }

  .nav-links li {
    margin: 1rem 0;
  }

  .nav-link::after {
    display: none;
  }

  .bars {
    visibility: hidden;

    display: block;
    animation: fade-in 1s forwards;
    animation-delay: 1.75s;

    border: 2px solid rgba(255, 255, 255);
    box-shadow: 0px 0px 5px #FFFFFF, -1px 2px 17px #F36C31;
  }

  .bars.active {
    background-color: var(--mainBackground);
  }

  /* Skills */
  .skills-container.animate .skill::after {
    animation: skill .8s forwards linear;
  }

  /* Projects Cards */
  .card-content {
    transform: translateY(0);
  }

  .card-content>*:not(.card-title) {
    opacity: 1;
  }

  .card-title::after {
    transform: scaleX(1);
  }

  .project-img {
    transform: translateX(-25%);
  }

  .card.animate:nth-child(odd) {
    animation: card-odd 1s forwards ease;
    animation-delay: .25s;
  }

  .card.animate:nth-child(even) {
    animation: card-even 1s forwards ease;
    animation-delay: .25s;
  }

  .card-description {
    font-size: 1rem;
  }

  /* About */
  .about-me {
    font-size: 1rem;
  }

  /* Footer */
  .mail-num a {
    font-size: 1rem;
    margin: 0;
  }

  .mail-icon {
    display: none;
  }

  .num-icon {
    display: none;
  }
}

/* Keyframes */
@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fade-out {
  100% {
    opacity: 0;
  }

  0% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
    visibility: visible;
  }
}

@keyframes card-odd {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes card-even {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}


@keyframes skill {
  0% {
    opacity: 0;
    width: 0%;
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    width: 100%;
  }
}

@keyframes about {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes contact {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}