/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

/* General */
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  scroll-behavior: smooth;

  letter-spacing: .1rem;
}

:root {
  --mainColor: #F36C31;
  --mainBackground: #000;
  --mainWhite: #FFF;
  --mainTransition: .2s ease-in-out;
  --mainBorderRadius: 20px;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--mainWhite);
  background-color: var(--mainBackground);
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;

  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 3em .75em;
}

/* Navbar */
.nav {
  max-width: 1230px;
  width: 100%;

  position: fixed;
  top: 1.25em;
  left: 0;
  right: 0;
  z-index: 10;

  background-color: var(--mainColor);
  border-radius: 20px;
  margin: 0 auto;
  padding: 1.25rem;

  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}



/* .nav.mobile {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateX(0);
  max-width: 100%;
  border-radius: 0;
} */

.nav-links {
  display: flex;
  justify-content: space-between;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}

.nav-links li {
  font-size: 1rem;
  font-weight: 500;
}

.nav-link {
  position: relative;
  padding-bottom: 2px;

  color: var(--mainWhite);
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: var(--mainWhite);

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--mainBorderRadius);

  transition: var(--mainTransition);
}

.nav-link:hover::after {
  width: 100%;
}

.bars {
  display: none;
}

/* Info */
section {
  padding: 5em 0;
  margin: 0 1rem;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-me-photo {
  height: 280px;
}

.info-name-job {
  display: flex;
  flex-direction: column;
  justify-content: center;

  line-height: 2;
}

.info-name {
  text-transform: uppercase;
  font-size: 2.2rem;
  font-weight: 400;
}

.info-job {
  color: var(--mainColor);
  font-size: 1.05rem;
  font-weight: 400;
}

.media-links {
  display: flex;
  flex-direction: column;
}

.media-links li {
  position: sticky;
  margin: 1.2rem;
}

.media-links li:hover .media-icon {
  color: var(--mainBackground);
}

.media-icon {
  padding: .4rem;

  font-size: 2.5rem;
  border-radius: 15px;

  color: var(--mainWhite);
  background: var(--mainColor);

  transition: var(--mainTransition);
}


/* Skills */
.section-title {
  font-weight: 500;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 1.5em;
}

.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.3em;
}

.skill {
  position: relative;
  font-size: 1.3rem;
}

.skill::after {
  content: "";
  height: 10px;
  width: 100%;
  max-width: 170px;
  background: linear-gradient(to right, var(--mainColor) 100%, var(--mainWhite) 0%);

  border-radius: var(--mainBorderRadius);
  border: 2px solid var(--mainBackground);
  position: absolute;
  right: 16rem;
  top: 40%;
}

/* Projects */
.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
  place-content: center;
}

.card {
  width: 100%;
  max-width: 500px;

  background: var(--mainBackground);
  border-radius: var(--mainBorderRadius);
  color: var(--mainWhite);
  overflow: hidden;

  transition: transform var(--mainTransition);
  border: 3px solid var(--mainColor);
}

.card-content {
  --padding: 2rem;
  padding: var(--padding);

  transform: translateY(60%);
  transition: transform .5s ease;
}

.card-content>*:not(.card-title) {
  opacity: 0;
  transition: opacity .5s ease;
}

.card:hover .card-content>*:not(.card-title) {
  opacity: 1;
}

.card:hover .card-content {
  transform: translateY(0);
}

.card-title {
  position: relative;

  font-size: 1.75rem;
  font-weight: 500;
  margin-bottom: 1em;

  width: fit-content;
  max-width: 100%;
}

.card-title::after {
  content: "";
  width: 100%;
  height: 4px;

  position: absolute;
  bottom: -7px;
  left: calc(var(--padding) * -1 + .5rem);

  background-color: var(--mainColor);
  border-radius: var(--mainBorderRadius);

  transform: scaleX(0);
  transition: transform .45s ease;
  transition-delay: .6s;
  transform-origin: left;

}

.card:hover .card-title::after {
  transform: scaleX(1);
}

.card-description {
  max-width: 350px;
  margin-bottom: .75em;
  line-height: 1.5;
}

.card-button {
  padding: .75rem;
  border: none;
  background-color: var(--mainColor);
  color: var(--mainWhite);
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  font-size: .75rem;

  border-radius: 10px;
  cursor: pointer;

  transition: all .2s ease-in;
}

.card-button:hover {
  color: var(--mainBackground);
}


/* Error 404 */
.error-container {
  padding: 0;
  margin: 0;
}

.error-content {
  height: 100vh;
  line-height: 1.25;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.error-title {
  font-size: 6rem;
  font-weight: 500;
}

.error-not-found {
  margin: .5em 0 .4em 0;

  font-size: 1.25rem;
  font-weight: 500;
}

.error-decription {
  font-size: 1.1rem;
  font-weight: 300;
}

.error-button {
  margin-top: 2.5em;
  padding: .35em 5rem;

  border: 0;
  border-radius: var(--mainBorderRadius);

  font-size: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;

  background: var(--mainColor);
  color: var(--mainWhite);
  transition: color var(--mainTransition);

  cursor: pointer;
}

.error-button:hover {
  color: var(--mainBackground);
}











/* Media */
@media (max-width: 1100px) {

  /* Info */
  .info {
    flex-direction: column;
  }

  .info-name-job {
    text-align: center;
  }

  .media-links {
    flex-direction: row;
  }

  /* Skills */
  .skill {
    flex-direction: column;

  }

  .skill::after {
    left: 0;
    bottom: 0;
    right: 0;
    top: 120%;
  }
}


@media (max-width: 560px) {
  .nav-link {
    font-size: .75rem;
  }

 
}